@model Ubrania_ASP.NET_Nowy.Models.AgreementClothesCustomerViewModel.AgreementClothesCustomerViewModel
@{
    ViewData["Title"] = "AgreementClothes";
}

<h2>Spis Ubrań Umowy: </h2>

<p>
    @*@Html.Partial("_CreateButtonPartial_2")*@
</p>
<div class="form-border">
    <table class="table">
        <thead>
            <tr>
                <th>
                   
                </th>
                <th>
                    Rozmiar
                </th>
                <th>
                    Kolor
                </th>
                <th>
                    Typ
                </th>
                <th>
                    Opis
                </th>
                <th>
                    Cena
                </th>
                <th>
                    Cena rzeczywista
                </th>
                <th>
                    Sprzedane?
                </th>
                <th>
                    Umowa
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ClothList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mark)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Size)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Colour)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price_RL)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sold)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Agreement.Name)
                    </td>
                    <td>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="Index" class="btn btn-success">Powrót</a>
</div>
<div page-model="@Model.PagingInfo" page-action="AgreementClothesCustomer" page-classes-enabled="true"
     page-class="btn border"  page-class-normal="btn btn-default active"
     page-class-selected="btn btn-primary active" class="btn-group m-1"></div>
<br />