@model IEnumerable<Ubrania_ASP.NET_Nowy.Models.Cloth>

@{
    ViewData["Title"] = "Index";
}

<br />
<h2>Lista Ubrań</h2>
<br />

<p>
    @Html.Partial("_CreateButtonPartial")
</p>
<div class="form-border" style="width: fit-content">
    <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Imię Właściciela
                </th>
                <th>
                    Nazwisko Własciciela
                </th>
                <th>
                    Marka
                </th>
                <th>
                    Rozmiar
                </th>
                <th>
                    Kolor
                </th>
                <th>
                    Typ
                </th>
                <th>
                    Opis
                </th>
                <th>
                    Cena
                </th>
                <th>
                    Cena Sprzedaży
                </th>
                <th>
                    Sprzedane?
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @item.Agreement.Id
                </td>
                <td>
                    @item.Agreement.Name
                </td>
                <td>
                    @item.Agreement.Surname
                </td>
                <td>
                    @item.Mark
                </td>
                <td>
                    @item.Size
                </td>
                <td>
                    @item.Colour
                </td>
                <td>
                    @item.Type
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    @item.Price_RL
                </td>
                <td>
                    @item.Sold
                </td>
                <td>

                    @Html.Partial("_ClothAddButtonsPartial", item.Id)
                </td>
            </tr>
            }
        </tbody>
    </table>
    </div>
