@model IEnumerable<Ubrania_ASP.NET_Nowy.Models.Cloth>

<BR>

<div class="form-border" style="width: fit-content">
    <table class="table">
        <thead class="table-borderless">
            <tr>
                <th style="border-bottom:0px">
                    Nr Ubrania
                </th>                
                <th style="border-bottom:0px">
                    Marka
                </th>
                <th style="border-bottom:0px">
                    Rozmiar
                </th>
                <th style="border-bottom:0px">
                    Kolor
                </th>
                <th style="border-bottom:0px">
                    Typ
                </th>
                <th style="border-bottom:0px">
                    Opis
                </th>
                <th style="border-bottom:0px">
                    Cena
                </th>
                <th style="border-bottom:0px">
                    Cena Sprzedaży
                </th>
                <th style="border-bottom:0px">
                    Sprzedane?
                </th>
            </tr>
        </thead>
        <tbody id="myTable">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>                    
                    <td>
                        @item.Mark
                    </td>
                    <td>
                        @item.Size
                    </td>
                    <td>
                        @item.Colour
                    </td>
                    <td>
                        @item.Type
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @item.Price
                    </td>
                    <td>
                        @item.Price_RL
                    </td>
                    <td>
                        @item.Sold
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>